@import "normalize";
@import "highlight";


/* variables used throughout the style sheet */
$font-factor: 1.2;
$header-basis: 1rem * $font-factor;
$header-size: $header-basis * 3;
$horizontal-pad: 2rem;
$branding-fill: {{ (.Scratch.Get "branding").fill }};
$branding-accent: {{ (.Scratch.Get "branding").accent }};

$small-font: 0.875em;   // 14px
$large-font: 1.375em;   // 22px

// Fluid interpolation helpers via Mike Riethmuller - modified with defaults
// See: https://www.madebymike.com.au/writing/fluid-type-calc-examples/
// Interpolate the given properties from min-value to max-value fluidly with screen size
$small-screen: 20em !default; // defaults to 320px @ 16px base font size
$large-screen: 90em !default; // defaults to 1440px @ 16px base font size
@mixin interpolate($properties_map, $start: $small-screen, $end: $large-screen) {
    & {
        @each $property, $values in $properties_map {
			#{$property}: nth($values, 1);
		}

		@media screen and (min-width: $start) {
			@each $property, $values in $properties_map {
				#{$property}: calc-interpolation($start, nth($values, 1), $end, nth($values, 2));
			}
		}

		@media screen and (min-width: $end) {
            @each $property, $values in $properties_map {
				#{$property}: nth($values, 2);
			}
		}
	}
}

// Calculates the interpolated value between v1 and v2 fluidly with screen size
@function calc-interpolation($start, $v1, $end, $v2) {
	$a: ($v2 - $v1) / ($end - $start);
	$b: $v1 - $a * $start;

	$sign: "+";
	@if ($b < 0) {
		$sign: "-";
		$b: abs($b);
	}
	@return calc(#{$a*100}vw #{$sign} #{$b});
}

// Helper to toggle items at a specified breakpoint
@mixin exceeds($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content
    }
}

// Helper to toggle items at the navbar / sidebar breakpoint
$navbar-breakpoint: 45em !default; // defaults to 720px @ 16px base font size
@mixin toggle-navbar {
    @media screen and (min-width: $navbar-breakpoint) {
        @content
    }
}


// Body Fonts: use the same system fonts as github
%font-main {
    font-family: -apple-system, 
                 BlinkMacSystemFont, 
                 "Segoe UI", 
                 Helvetica, 
                 Arial, 
                 sans-serif, 
                 "Apple Color Emoji", 
                 "Segoe UI Emoji", 
                 "Segoe UI Symbol";
}

// Code Blocks: use the same system fonts as github
%font-code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

%font-brand-caps {
    @extend %font-code;
    text-transform: uppercase;
}

%font-title {
    @extend %font-main;
    font-family: "Proxima Nova";
    font-weight: bold;
}

body {
    @extend %font-main;
	@include interpolate((
	    font-size: ( $small-font, $large-font ),
	    line-height: ( 1.6em, 1.4em ),
    ));
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    @extend %font-title;
}

h1 {
    @include interpolate((
    	font-size: ( 2.43em, 2.42em ),
    	line-height: ( 1.18em, 1.14em ),
        padding-top: ( 0.235em, 0.238em ),
        margin-bottom: ( 0.353em, 0.333em ),
    ));
}

h2 {
    @include interpolate((
    	font-size: ( 1.93em, 1.96em ),
    	line-height: ( 1.48em, 1.41em ),
        padding-top: ( 0.407em, 0.373em ),
        margin-bottom: ( 0.333em, 0.333em ),
    ));
}

h3 {
    @include interpolate((
    	font-size: ( 1.57em, 1.58em ),
    	line-height: ( 1.82em, 1.76em ),
        padding-top: ( 0.591em, 0.537em ),
        margin-bottom: ( 0.318em, 0.341em ),
    ));
}

h4 {
    @include interpolate((
    	font-size: ( 1.29em, 1.27em ),
    	line-height: ( 1.11em, 1.09em ),
        padding-top: ( 0.222em, 0.212em ),
        margin-bottom: ( 0.889em, 0.879em ),
    ));
}

h5,
h6,
p {
    @include interpolate((
    	line-height: ( 1.43em, 1.38em ),
        padding-top: ( 0.357em, 0.346em ),
        margin-bottom: ( 1.07em, 1.04em ),
    ));
	font-size: 1.00em;
}

h6 {
    font-size: 0.8em;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

a {
    transition: 200ms;
    transition-timing-function: ease-in-out;

    color: $branding-accent;
    text-decoration: none;

    &:hover {
        color: lighten($branding-accent, 20%);
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}

hr {
    border-style: dashed;
    color: #ddd
}

pre,
code {
    font-size: 0.95em;
}

pre:not(.chroma) {
    overflow-x: auto;
    padding-bottom: 0.5rem;
}

kbd,
code {
    @extend %font-code;
}

kbd {
    font-weight: bold;
}




%brand-hover {
    color: $branding-accent;
}

%brand-hover-no-decoration {
    @extend %brand-hover;
    text-decoration: none;
}

%brand-hover-masthead {
    @extend %brand-hover-no-decoration;
    fill: $branding-accent;
}

%header-bar {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    min-height: $header-size;
    height: $header-size;
    width: 100%;
    box-shadow: 0 0.2rem 0.02rem rgba(70, 70, 70, 0.3);
    font-size: $header-basis;
}


.navbar {
    @extend %header-bar;
    @extend %font-brand-caps;
    background-color: white;
    fill: $branding-fill;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include toggle-navbar {
        align-items: baseline;
    }

    a {
        color: $branding-fill;

        &:hover {
            @extend %brand-hover-masthead;
        }
    }

    .branding {
       padding-left: $horizontal-pad;
       text-align: left;
       flex: 1 0 0;
    
       svg {
           height: $header-basis;
           width: auto;
           vertical-align: middle;
           padding-bottom: 0.10rem;
       }
    }
    
    .items {
        flex: 1 0 0;
        padding-right: $horizontal-pad;
        display: none;
        text-align: right;

        @include toggle-navbar {
            display: inline-block;
        }

        .item {
            display: inline-block;
        }
    }

    .toggle {
        padding-right: $horizontal-pad;
        cursor: pointer;
        flex: 1 0 0;
        text-align: right;

        display: inline-block;

        @include toggle-navbar {    
            display: none;
        }

        &:hover {
            @extend %brand-hover-masthead;
        }

    }
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    text-align: right;
    width: 100%;

    a {
        color: $branding-fill;

        &:hover {
            @extend %brand-hover-masthead;
        }
    }

    .head {
        @extend %header-bar;
        background: rgba(255, 255, 255, 0.6);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .toggle {
            padding-right: $horizontal-pad;
            cursor: pointer;
            flex: 1 0 0;
            text-align: right;
            font-size: 1.65rem;

            &:hover {
               @extend %brand-hover-masthead;
            }
        }
    }

    .items {
        padding-top: $header-size + 1;
        padding-right: $horizontal-pad;
        font-size: 1.65rem;

        .item {
            display: block
        }

    }
}



.site-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;

    @include toggle-navbar {
        width: 45rem;
    }

}

.site-main {
    padding: 0 1.25rem;
    flex: 1 0 auto;

    @include toggle-navbar {
        padding: 0 0;;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.post-content {
}

.main-footer {
    flex-shrink: 0;
}



.site-footer {
    flex-shrink: 0;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

    @include toggle-navbar {
        padding-left: 0;
        padding-right: 0;
    }

}

.social-items {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.social-items a {
    color: $branding-fill;
}

.social-items a:hover {
    @extend %brand-hover-no-decoration;
}

.social-item {
    display: inline-block;
    padding: 0 0.50rem;
    font-size: 1.8rem;
}

.terms-header,
.list-header,
.post-header {

    padding-top: $header-size + 1;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    background-image: linear-gradient(0deg, $branding-accent, lighten($branding-accent, 40%));
    box-shadow: 0 0.4rem 0.4rem rgba(70, 70, 70, 0.3);

    @include toggle-navbar {
        padding-top: $header-size + 2;
    }

}

.post-metadata {
    padding-top: 0.2rem;
    font-size: 0.70em;
    text-transform: uppercase;
    color: white;

    @include toggle-navbar {
        //font-size: 0.7rem;
    }
}

.post-metadata a {
    color: white;
}

.post-metadata a:hover {
    text-decoration: underline;
}

.post-metadata-items {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: baseline;
    line-height: 1rem;

    @include toggle-navbar {
        flex-direction: row;
    }


}

.post-metadata-item {
    display: inline-block;
    padding-right: 0.6rem;
    padding-bottom: 0.2rem;
}

.post-metadata-item i {
    padding-right: 0.5rem;
}

.post-metadata-item:last-of-type {
    padding-right: 0;
}

.copyright {
    @extend %font-brand-caps;
    font-size: .55em;
    padding: 0.4rem 0;
    margin: 0;

    @include toggle-navbar {
        font-size: .85em;
    }

}

.title {
    margin: 0;
    color: white;

    @include toggle-navbar {
    }
}

.summaries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    padding: 0.5rem;
}

.summary {
    display: block;
}

.summary hr {
    width: 60%;
    padding: 0;
    margin: 0.4rem auto;
}

.summary-readmore {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: right;
    padding: 0.4rem 0;

    @include toggle-navbar {
        font-size: 1rem;
    }

}

.summary:first-of-type hr {
    display: none;
}

.summary a {
    color: $branding-fill;
}

.summary a:hover {
    @extend %brand-hover-no-decoration;
}

.summary-title {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;

    @include toggle-navbar {
        font-size: 2rem;
    }
}

.summary-body {
    font-size: 0.75rem;
    padding: 0 0.2rem;
    padding-top: 0.2rem;
    margin: 0;

    @include toggle-navbar {
        font-size: 1rem;
    }

}

.summary-body p {
    margin: 0;
}

.summary-metadata {
    padding-top: 0.2rem;
    font-size: 0.65rem;
    text-transform: uppercase;

    @include toggle-navbar {
        font-size: 0.85rem;
    }
}

.summary-metadata-items {
    padding: 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.summary-metadata-item {
    display: inline-block;
    padding-right: 0.6rem;
    padding-bottom: 0.2rem;
}

.summary-metadata-item i {
    padding-right: 0.3rem;
}

.summary-metadata-item:last-of-type {
    padding-right: 0;
}




.post-content ol {
    list-style: none;
    counter-reset: ol-counter;
    padding: 0;
    list-style-position: inside;

    > li {
        counter-increment: ol-counter;
        padding-left: 1rem;

        p:first-of-type {
            display: inline;
        }

        &:before {
            margin-right: 0.2em;
            font-size: 0.8em;
            font-weight: bold;
        }
        
        &:not([id^="fn:"]):before {
            content: counters(ol-counter, ".") ". ";
        }

        &[id^="fn:"]:before {
            content: counter(ol-counter) ". ";
        }
    }
}

.post-content ul:not(.task-list) {
    padding: 0;
    list-style-position: inside;

    > li {
        padding-left: 1rem;

        p:first-of-type {
            display: inline;
        }
    }
}

/*
.post-content ul:not(.task-list) {
    list-style: none;
    padding: 0;
}

.post-content ul:not(.task-list) li {
    display: block;
    padding-left: 1rem;

    p:first-of-type {
        display: inline;
    }

}

.post-content ul:not(.task-list) li:before {
    font-weight: bold;
    content: "🠶";
    color: $branding-accent;
    padding-right: 0.7rem;
}
/*




/*
.post-content dl {
    padding: 0;
}

.post-content dl dt {
    font-weight: bold;
    padding-left: 1rem;
}

.post-content dl dd {
    display: block;
    padding: 0;
}

.post-content dl dd:before {
    font-weight: bold;
    content: "🠶";
    color: $branding-accent;
    padding-right: 0.7rem;
}
*/

dl {
    margin: 0 1rem;

    dt {
        margin-top: 0.8em;
        font-size: 1.2em;
        font-weight: 400;
        color: $branding-accent;
        counter-reset: definition-counter;
    }

    dd {
        margin: 0;
        font-size: 0.9em;
        font-weight: 200;

        &:before {
            content: counter(definition-counter) ". ";
            counter-increment: definition-counter;
            margin-right: 0.8em;
            font-size: 0.8em;
            font-weight: 500;
        }
    }
}



.task-list { 
    list-style: none;

    padding: 0 1rem;
    margin: 0.4rem 0;
    padding: 0 1rem;

    li {
        vertical-align: middle;
        padding: 0.5rem;
        border: 1px solid #eee;
        border-left: 0.3em double #ddd;
        border-right: 0.3em double #ddd;

    }

    label {
        font-weight: 500;
        margin: 0;
        display: flex;
        align-items: center;
    }


    & input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fafafa;
        border: 1px solid #cacece;
        border-radius: 0.1rem;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 0.8em;
        margin-right: 1em;
        //display: inline-block;
        position: relative;

        &:checked {
            background-color: #e9ecee;
            border: 1px solid #adb8c0;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
            color: #99a1a7;

            &:after {
                content: '\2714';
                font-size: 3em;
                position: absolute;
                top: 0.1em;
                left: 0.4em;
                transform: translate(-50%, -50%);
                color: $branding-accent;
            }
        } 
    }
}



q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

abbr[title],
abbr {
    text-decoration: underline dotted $branding-accent;
}

mark {
    background: transparent;
    text-decoration: underline wavy $branding-accent;
}

blockquote {
    margin: 0 1rem;
    padding: 0 0;
    position: relative;
}

blockquote p {
    font-size: 1.2em;
    font-weight: 200;
}

blockquote:before {
  position: absolute;
  font-family: serif;
  top: 0.35em;
  left: 0.3em;
  transform: translate(-50%, -50%);
  text-align: center;
  content:"\201C";
  font-size: 7em;
  color: rgba($branding-accent, 0.2);   
}

blockquote blockquote {
    font-size: 0.9em;

    &:before {
        color: rgba(#ddd, 0.4);
    }
}

blockquote > cite {
    position: absolute;
    bottom: -1.8em;
    right: 1.8rem;
    font-weight: 400;

    &:before {
        content: "\2014";
        margin-right: 0.2em;
    }
}

/*
blockquote p:first-child:before,
blockquote p:last-child:after {
    position: absolute;
    display: inline;
}

blockquote p:first-child:before {
    left: 0;
    top: 5rem;
}

blockquote p:last-child:after {
    right: 0;
    bottom: 0;
}
*/


/*
.post-content blockquote {
    font-size: 0.9rem;
    line-height: 1.1rem;
    border-left: 5px solid $branding-accent;

    padding: 0 1rem;
    margin: 0.4rem 0;
}

.post-content blockquote blockquote {
    border-left: 5px solid #ddd;
}
*/

/*
.post-content table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666
}

.post-content table thead th {
    border-bottom: 1px solid #ddd
}

.post-content th,
.post-content td {
    padding: 5px
}

.post-content thead,
.post-content tfoot,
.post-content tr:nth-child(even) {
    background: #eee
}
*/


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bullets {
    @extend %font-brand-caps;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #ddd;

    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.bullet-item {
    display: block;
    padding: 0 2rem;
}

.bullet-metadata-items {

    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.bullet-metadata-item {
    display: inline-block;
}

.bullet-metadata-title {
    flex: 666;
}


.pagination {
    @extend %font-brand-caps;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 1rem;
    display: none;
    justify-content: space-between;
    color: #ddd;
    padding: 0;
    margin-bottom: 0;
    text-align: center;

    @include toggle-navbar {
        display: flex;
    }
}

.pagination a {
    color: $branding-fill;
    font-weight: bold;
    text-decoration: none
}

.pagination a:hover {
    @extend %brand-hover-no-decoration;
}

.page-item {
    display: inline-block;
    flex: 1 0 1.5rem;
}

.page-item-spacer {
    display: inline-block;
    flex: 666;
}

.post-nav {
    @extend %font-brand-caps;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 1rem;
    display: none;
    justify-content: space-between;
    color: #ddd;

    @include toggle-navbar {
        display: flex;
    }
}

.post-nav a {
    color: $branding-fill;
    text-decoration: none
}

.post-nav-title {
    color: #ddd
}

.post-nav a:hover,
.post-nav-title:hover {
    @extend %brand-hover-no-decoration;
}

.post-nav-prev {
    text-align: left;
}

.post-nav-next {
    text-align: right;
}

/*
<div class="highlight">
    <div class="chroma">
        <table class="lntable">
            <tr>
                <td class="lntd">
                    <pre class="chroma">
                        <span class="lnt">1</span>
                    </pre>
                </td>
                <td class="lntd">
                    <pre class="chroma">return shell_exec(&#34;echo $input | $markdown_script&#34;);</pre>
                </td>
            </tr>
        </table>
    </div>
</div>
*/

.highlight {
    margin: 1rem 0;
    width: 100%;

    > pre.chroma :not(code) {
    }

    > pre.chroma {
        margin: 0;
        width: 100%;
        overflow-x: auto;

        border: 1px solid #ddd;    

        > code {
            display: block;
            padding: 0.8rem;
        }
    }

    > div.chroma {
        border: 1px solid #ddd;
    }

    > div.chroma .lntable {
        width: auto;

        tr {
            .lntd {
                padding: 0.2rem 0;

                &:first-child {
                    text-align: right;
                }

                &:last-child {
                    width: 100%;
                }
            }

            .lnt {
                padding-left: 0.8rem;
                padding-right: 0.8rem;
            }
        }
    }
}

/*
pre.chroma {
    border: 1px solid lime;
}

.highlight {
}

.highlight .chroma {
}


.lntable { 
}

.lntable tr {

}

.lntable .lntd:first-of-type {
    background: desaturate($branding-accent, 40%);
    color: white;
}

.lntable .lntd:first-of-type pre {
    min-width: 2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    text-align: right;
    background: none;
}

.lnt {
}
*/

.terms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 0 2rem;
}

{{- range $taxon, $taxonomy := .Site.Taxonomies -}}
{{- $counts := slice -}}
{{- $taxon := $taxon | singularize | anchorize | urlize -}}
{{- range $key, $value := $taxonomy -}}
{{- $count := len $value.Pages -}}
{{- $counts = $counts | append $count -}}
{{- end -}}
{{- $counts := sort (uniq $counts) -}}
{{- $nums := len $counts -}}
{{- $low := index $counts 0 -}}
{{- $high := index $counts (sub $nums 1) }}
{{- range $count := $counts }}
{{- if (gt $high $low) -}}
{{- $norm := div (sub (float $count) $low) (sub $high $low) -}}
{{- $dnorm := add (mul $norm (sub 4 1)) 1 -}}
{{- $selector := printf ".%s-%d" $taxon $count -}}
{{ $selector }} {
    display: block;
    padding: 0 0.3rem;
    font-size: 0.6rem * {{ $dnorm }};

    @include toggle-navbar {
        font-size: 1rem * {{ $dnorm }};
    }
}
{{- end -}}
{{- end -}}
{{- end }}


.footnote-ref {
    font-weight: bold;
    padding-left: 0.1rem;

    > a {
        &:before { 
            content: '[' 
        }

        &:after { 
            content: ']' 
        }
    }
}

.footnote-return {
    font-weight: bold;
}



sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    padding: 0 0.1rem;
}

sub {
    top: 0.4em;
}



$gl-ms         : "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs         : "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm         : "screen and (max-width: 48em)";   // max 768px
$gl-md         : "screen and (max-width: 64em)";   // max 1024px
$gl-lg         : "screen and (max-width: 80em)";   // max 1280px

.table {
    overflow-x: auto;
}

table:not(.lntable) {
    font-size: 0.8em;
    margin: 1rem auto;
    display: table;      
    vertical-align: top;
    width: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;

    thead, th {
        background: desaturate($branding-accent, 40%);
    }

    th {
        text-align: left;
        text-transform: uppercase;
        border: 1px solid black;
        color: white;
    }

    tfoot {
        background: #ddd;
    }

    tr {
        &:nth-child(even) {
            background: #eee;
        }

        &:hover {
            background: desaturate(lighten($branding-accent, 40%), 60%);
        }
    }
   

    td {
        border: 1px solid #ddd;
    }

    th, td {
        @include interpolate((
            padding-left: (0.5em, 1em),
            padding-right: (0.5em, 1em),
        ));
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        &:last-of-type {
            width: 100%;
        }

    }
}

