@import "normalize";
@import "highlight";


/* variables used throughout the style sheet */
$breakpoint: 45rem;
$font-basis: 1rem;
$font-factor: 1.2;
$header-basis: $font-basis * $font-factor;
$header-size: $header-basis * 3;
$horizontal-pad: $font-basis * 2;
$branding-fill: {{ (.Scratch.Get "branding").fill }};
$branding-accent: {{ (.Scratch.Get "branding").accent }};

/* placeholders for various properties */
%font-brand {
    font-family: {{ (.Scratch.Get "fonts").brand }}, monospace;
}

%font-brand-caps {
    @extend %font-brand;
    text-transform: uppercase;
}

%font-title {
    font-family: {{ (.Scratch.Get "fonts").title }}, sans-serif;
}

%font-main {
    font-family: {{ (.Scratch.Get "fonts").main }}, sans-serif;
}

%font-code {
    font-family: {{ (.Scratch.Get "fonts").code }}, monospace;
}


html {
    height: 100%;
}

body {
    @extend %font-title;
    background-color: white;
    color: $branding-fill;
    font-size: $font-basis;
    height: 100vh;
}

$curr-size: $font-basis;
@for $index from 1 through 6 {
    h#{7-$index} {
        @extend %font-title;
        font-size: $curr-size;
    }
    $curr-size: $curr-size * $font-factor;
}

main {
    @extend %font-main;
}

pre {
    @extend %font-code;
    font-size: $font-basis / $font-factor;

    padding: $font-basis;
    overflow-x: auto;
    line-height: 1.5rem;
}

code {
    @extend %font-code;
    font-size: $font-basis / $font-factor;
}

:root {
    --accent: $branding-accent
}

%brand-hover {
    transition: 200ms;
    transition-timing-function: ease-in-out;
    color: $branding-accent;
}

%brand-hover-no-decoration {
    @extend %brand-hover;
    text-decoration: none;
}

%brand-hover-masthead {
    @extend %brand-hover-no-decoration;
    fill: $branding-accent;
}

%header-bar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: $header-size;
    height: $header-size;
    width: 100%;
    box-shadow: 0 0.2rem 0.02rem rgba(70, 70, 70, 0.3);
    font-size: $header-basis;
}

.navbar {
    @extend %header-bar;
    @extend %font-brand-caps;
    background-color: white;
    fill: $branding-fill;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: $breakpoint) {
        align-items: baseline;
    }
}

.navbar-branding {
    padding-left: $horizontal-pad;
    flex: 1 0 0;
    text-align: left;
}

.navbar-branding svg {
    height: $header-basis;
    width: auto;
    vertical-align: middle;
    padding-bottom: 0.10rem;
}

.navbar-items {
    flex: 1 0 0;
    text-align: right;
    padding-right: $horizontal-pad;
    display: none;

    @media only screen and (min-width: $breakpoint) {
        display: inline-block;
    }
}

.navbar-item {
    display: inline-block;
}

.navbar-toggle {
    padding-right: $horizontal-pad;
    cursor: pointer;
    flex: 1 0 0;
    text-align: right;

    @media only screen and (min-width: $breakpoint) {
        display: none;
    }
}

.navbar a {
    color: $branding-fill;
}

.navbar-toggle:hover,
.navbar a:hover {
    @extend %brand-hover-masthead;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    text-align: right;
    width: 100%;
}

.sidebar-head {
    @extend %header-bar;
    @extend %font-brand;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-toggle {
    padding-right: $horizontal-pad;
    cursor: pointer;
    flex: 1 0 0;
    text-align: right;
    font-size: 1.65rem;
}

.sidebar a {
    color: $branding-fill;
}

.sidebar-toggle:hover,
.sidebar a:hover {
    @extend %brand-hover-no-decoration;
}

.sidebar-items {
    padding-top: $header-size + 1;
    padding-right: $horizontal-pad;
    font-size: 1.65rem
}

.sidebar-item {
    display: block
}

.site-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;

    @media only screen and (min-width: $breakpoint) {
        width: $breakpoint;
    }
}

.site-main {
    padding-right: $font-basis;
    padding-left: $font-basis;
    flex: 1 0 auto;

    @media only screen and (min-width: $breakpoint) {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    hyphens: auto;
}

.article-content {
}

.main-footer {
    flex-shrink: 0;
}

hr {
    border-style: dashed;
    color: #ddd
}

.site-footer {
    flex-shrink: 0;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

    @media only screen and (min-width: $breakpoint) {
        padding-left: 0;
        padding-right: 0;
    }

}

.social-items {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.social-items a {
    color: $branding-fill;
}

.social-items a:hover {
    @extend %brand-hover-no-decoration;
}

.social-item {
    display: inline-block;
    padding: 0 ($font-basis * 0.50);
    font-size: 1.8rem;
}

.terms-header,
.list-header,
.article-header {

    padding-top: $header-size + 1;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.4rem;
    background-image: linear-gradient(0deg, $branding-accent, lighten($branding-accent, 40%));
    box-shadow: 0 0.4rem 0.4rem rgba(70, 70, 70, 0.3);

    @media only screen and (min-width: $breakpoint) {
        padding-top: $header-size + 2;
    }

}

.article-metadata-items {
    padding: 0;
    margin-top: 0.2rem;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: $font-basis * 0.55;
    text-transform: uppercase;
    color: white;

        @media only screen and (min-width: $breakpoint) {
        font-size: $font-basis * 0.7;
    }

}

.article-metadata-item {
    display: inline-block;
    padding-right: $font-basis * 0.6;
    padding-bottom: $font-basis * 0.2;
}

.article-metadata-item a {
    color: white;
}

.article-metadata-item a:hover {
    text-decoration: underline;
}

.article-metadata-item i {
    padding-right: $font-basis * 0.3;
}

.article-metadata-item:last-of-type {
    padding-right: 0;
}

.copyright {
    @extend %font-brand-caps;
    font-size: .55em;
    padding: 0.4rem 0;
    margin: 0;

    @media only screen and (min-width: $breakpoint) {
        font-size: .85em;
    }

}

.title {

    font-weight: bold;
    /*font-size: $curr-size / $font-factor;*/
    margin: 0;
    color: white;

    @media only screen and (min-width: $breakpoint) {
        font-size: $curr-size;
    }
}

/*

.menu li {
    display: inline-block
}

.menu a {
    padding: 5px
}

.menu {
    padding: 0px
}

.article-meta {
    padding: 18px
}

.title {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1em
}

.meta {
    margin: 2px
}

.menu,
.article-meta,
.comment,
.related,
footer {
    text-align: center
}

hr {
    border-style: dashed;
    color: #ddd
}

.social li {
    font-size: 1.8rem;
    letter-spacing: -0.25rem
}

a:link,
a:visited,
a:hover {
    color: var(--accent)
}
.menu a,
.social a,
footer a,

*/
a.icon:hover,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}
/*

pre {
    border: 1px solid #ddd;
    padding: 1em;
    overflow-x: auto
}

pre,
code,
blockquote {
    background: #f7f7f7
}

pre code {
    background: none
}

blockquote {
    border-left: 5px solid #ccc;
    padding: 3px 1em 3px
}

img,
iframe,
video {
    max-width: 100%
}

main {
    hyphens: auto
}

.copyright {
    @extend %font-brand-caps;
    font-size: .85em
}

.pages {
    padding: 15px 0;
    text-align: center
}

.pages-icon {
    padding: 0 15px
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666
}

table thead th {
    border-bottom: 1px solid #ddd
}

th,
td {
    padding: 5px
}

thead,
tfoot,
tr:nth-child(even) {
    background: #eee
}

*/

.post-nav {
    @extend %font-brand-caps;
    font-size: $font-basis * 0.9;
    text-transform: uppercase;
    margin-top: $font-basis;
    display: none;
    justify-content: space-between;
    color: #ddd;

    @media only screen and (min-width: $breakpoint) {
        display: flex;
    }
}

.post-nav a {
    color: $branding-fill;
    text-decoration: none
}

.post-nav-title {
    color: #ddd
}

.post-nav a:hover,
.post-nav-title:hover {
    @extend %brand-hover-no-decoration;
}

.post-nav-prev {
    text-align: left;
}

.post-nav-next {
    text-align: right;
}

.highlight {
}

.highlight .chroma {

}

.lntable {
}

.lntable tr {
}

.lntable .lntd:first-of-type {
    background: desaturate($branding-accent, 40%);
    color: white;
}

.lntable .lntd:first-of-type pre {
    min-width: 2rem;
    padding-left: 0.6;
    padding-right: 0;
    text-align: right;
    background: none
}

.lnt {
}

.terms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 0 2rem;
}

{{- range $taxon, $taxonomy := .Site.Taxonomies -}}
{{- $counts := slice -}}
{{- $taxon := $taxon | singularize | anchorize | urlize -}}
{{- range $key, $value := $taxonomy -}}
{{- $count := len $value.Pages -}}
{{- $counts = $counts | append $count -}}
{{- end -}}
{{- $counts := sort (uniq $counts) -}}
{{- $nums := len $counts -}}
{{- $low := index $counts 0 -}}
{{- $high := index $counts (sub $nums 1) }}
{{- range $count := $counts }}
{{- if (gt $high $low) -}}
{{- $norm := div (sub (float $count) $low) (sub $high $low) -}}
{{- $dnorm := add (mul $norm (sub 4 1)) 1 -}}
{{- $selector := printf ".%s-%d" $taxon $count -}}
{{ $selector }} {
    display: block;
    padding: 0 0.3rem;
    font-size: 0.6 * $font-basis * {{ $dnorm }};

    @media only screen and (min-width: $breakpoint) {
        font-size: $font-basis * {{ $dnorm }};
    }
}
{{- end -}}
{{- end -}}
{{- end }}
