<ul class="items">
    {{- with .Params.date }}
    <li class="item">
        {{ partial "util/published.html" . | chomp }}
    </li>
    {{- end }}
    {{- with .Params.categories -}}
    {{- $links := apply (apply (sort .) "partial" "util/category.html" ".") "chomp" "." }}
    <li class="item">
        {{ partial "util/fontawesome.html" "folder-open-solid" }}{{ delimit $links ", " " & " }}
    </li>
    {{- end }}
    {{- with .Params.tags -}}
    {{- $links := apply (apply (sort .) "partial" "util/tag.html" ".") "chomp" "." }}
    <li class="item">
        {{ partial "util/fontawesome.html" "tag-solid" }}{{ delimit $links ", " " & " }}
    </li>
    {{- end }}
    <li class="item">
        {{ partial "util/wordcount.html" . | chomp }}
    </li>
    <li class="item">
        {{ partial "util/readingtime.html" . | chomp }}
    </li>
</ul>
