{{- if .Site.Params.post_navigation }}
{{- if or (.PrevInSection) (.NextInSection) }}
<div class="previous">
{{- if .PrevInSection }}
    <a href="{{ .PrevInSection.RelPermalink }}" rel="prev" title="Read &ldquo;{{ .PrevInSection.Title }}&rdquo;">
        {{ partial "util/fontawesome.html" "backward-solid" }}
    </a>
{{- else }}
    {{ partial "util/fontawesome.html" "backward-solid" }}
{{- end }}
</div>
<div class="next">
{{- if .NextInSection }}
    <a href="{{ .NextInSection.RelPermalink }}" rel="next" title="Read &ldquo;{{ .NextInSection.Title }}&rdquo;">
        {{ partial "util/fontawesome.html" "forward-solid" }}
    </a>
{{- else }}
    {{ partial "util/fontawesome.html" "forward-solid" }}
{{- end }}
</div>
{{- end }}
{{- end }}
