{{- define "title" -}}
{{- if not .IsHome -}}
{{ .Title }} | {{ (.Scratch.Get "branding").title }}
{{- else -}}
Home | {{ (.Scratch.Get "branding").title }}
{{- end -}}
{{- end -}}

{{ define "main" }}
<section class="main-content">
    <header class="list-header">    
        {{if not .IsHome }}
        <h1 class="title">{{ .Title }}</h1>
        {{ end }}
    </header>
    <section class="list-content">
        {{ .Content }}
        <nav>
            <ul class="summaries">
                {{ $paginator := .Paginate (where .Data.Pages "Type" "!=" "page") }}
                {{ range $paginator.Pages }}
                {{ .Render "summary" }}
                {{ end }}
            </ul>
        </nav>
    </section>
</section>
{{ end }}

{{- define "footer" -}}
{{ partial "paginator.html" . | chomp }}
{{- end }}
