{{ define "main" }}
<article class="main-content">
<header class="article-header">
    <h1 class="title">{{ .Title }}</h1>
    <ul class="article-metadata-items">
        {{ with .Params.date }}
        <li class="article-metadata-item">
            <i class="fab fa-calendar-alt"></i><time datetime={{ .Format "2006-01-02" }}>
                {{ .Format "Jan 02, 2006" }}
            </time>
        </li>
        {{ end }}

        {{ with .Params.categories }}
        {{ $sort := sort . }}
        {{ $links := apply $sort "partial" "post_categories.html" "." }}
        {{ $clean := apply $links "chomp" "." }}
        <li class="article-metadata-item">
            <i class="fab fa-folder-open"></i> {{ delimit $clean ", " " and " }}
        </li>
        {{ end }}

        {{ with .Params.tags }}
        {{ $sort := sort . }}
        {{ $links := apply $sort "partial" "post_tags.html" "." }}
        {{ $clean := apply $links "chomp" "." }}
        <li class="article-metadata-item">
            <i class="far fa-tag"></i> {{ delimit $clean ", " " and " }}
        </li>
        {{ end }}

        <li class="article-metadata-item">
            <i class="far fa-file-alt"></i> {{ .WordCount }} words
        </li>

        {{ $mins := cond (eq .ReadingTime 1) "min" "mins" }}
        <li class="article-metadata-item">
            <i class="far fa-clock"></i> {{ .ReadingTime }} {{ $mins }}
        </li>
    </ul>
</header>

<section class="article-content">{{ .Content }}</section>

<!-- related posts with the same tags -->
{{ with .Site.RegularPages.Related . | first 5 }}
<aside class="article-related">
	<h4 class="related">Related Posts</h4>
	{{ range . }}
		{{ partial "list-item" . }}
	{{ end }}
</aside>
{{ end }}

{{ if and .Site.DisqusShortname (not .Params.disableComments) }}
<section class="article-comments">
	<h4 class="comment">Comments</h4>
	{{ template "_internal/disqus.html" . }}
<section>
{{ end }}
</article>
{{ end }}

{{ define "footer" }}
{{ if not .Params.nav_off }}
{{ partial "post_nav.html" . }}
{{ end }}
{{ end }}
