{{ define "main" }}
<article class="main-content">
<header class="post-header">
    <h1 class="title">{{ .Title }}</h1>
    <div class="post-metadata">
        {{ partial "post/metadata.html" . | chomp }}
    </div>
</header>

<section class="post-content">{{ .Content }}</section>

<!-- related posts with the same tags -->
{{ with .Site.RegularPages.Related . | first 5 }}
<aside class="post-related">
	<h4 class="related">Related Posts</h4>
	{{ range . }}
		{{ partial "list-item" . }}
	{{ end }}
</aside>
{{ end }}

</article>
{{ end }}

{{- define "footer" -}}
{{- if not .Params.nav_off -}}
{{ partial "post_nav.html" . | chomp }}
{{- end }}
{{- end }}
