<li class="summary">
    <hr>
    <a href="{{ relURL .Permalink }}">
        <article class="summary-content">
            <header class="summary-header">
                <div class="summary-metadata">
                    <ul class="summary-metadata-items">
                        {{- with .Params.date }}
                        <li class="summary-metadata-item">
                            <i class="fab fa-calendar-alt"></i>{{ partial "util/date.html" . | chomp }}
                        </li>
                        {{- end }}
                        {{- $icon := cond (gt .WordCount 2000) "fas fa-book" "far fa-file-alt" -}}
                        <li class="summary-metadata-item">
                            <i class="{{ $icon }}"></i>{{ .WordCount }} words
                        </li>
                        {{- $mins := cond (eq .ReadingTime 1) "min" "mins" -}}
                        <li class="summary-metadata-item">
                            <i class="far fa-clock"></i>{{ .ReadingTime }} {{ $mins }}
                        </li>
                    </ul>
                </div>
                <h1 class="summary-title">{{.Title}}</h1>
            </header>
            <div class="summary-body">
                <p>{{.Summary | plainify | htmlUnescape }}</p>
            </div>
            {{ if .Truncated }}
            <footer class="summary-readmore">
                Read More...
            </footer>
            {{ end }}
        </article>
    </a>
</li>
