<li class="summary">
    <a href="{{ relURL .Permalink }}" title="{{ .Title }}">
        <article class="content">
            <header class="header">
                <div class="metadata">
                    <ul class="items">
                        {{- with .Params.date }}
                        <li class="item">
                            {{ partial "util/published.html" . | chomp }}
                        </li>
                        {{- end }}
                        <li class="item">
                            {{ partial "util/wordcount.html" . | chomp }}
                        </li>
                        <li class="item">
                            {{ partial "util/readingtime.html" . | chomp }}
                        </li>
                    </ul>
                </div>
                <h1 class="title">{{.Title}}</h1>
            </header>
            <div class="body">
                <p>{{.Summary | plainify | htmlUnescape }}</p>
            </div>
            {{- if .Truncated -}}
            <footer class="readmore">
                Read More...
            </footer>
            {{- end }}
        </article>
    </a>
</li>
