<li class="summary">
    <hr>
    <a href="{{ relURL .Permalink }}" title="{{ .Title }}">
        <article class="summary-content">
            <header class="summary-header">
                <div class="summary-metadata">
                    <ul class="summary-metadata-items">
                        {{- with .Params.date }}
                        <li class="summary-metadata-item">
                            {{ partial "util/fontawesome.html" "calendar-alt-regular" }}{{ partial "util/date.html" . | chomp }}
                        </li>
                        {{- end }}
                        {{- $icon := cond (gt .WordCount 2000) "book-solid" "file-alt-solid" -}}
                        <li class="summary-metadata-item">
                            {{ partial "util/fontawesome.html" $icon }}{{ .WordCount }} words
                        </li>
                        {{- $mins := cond (eq .ReadingTime 1) "min" "mins" -}}
                        <li class="summary-metadata-item">
                            {{ partial "util/fontawesome.html" "clock-solid" }}{{ .ReadingTime }} {{ $mins }}
                        </li>
                    </ul>
                </div>
                <h1 class="summary-title">{{.Title}}</h1>
            </header>
            <div class="summary-body">
                <p>{{.Summary | plainify | htmlUnescape }}</p>
            </div>
            {{ if .Truncated }}
            <footer class="summary-readmore">
                Read More...
            </footer>
            {{ end }}
        </article>
    </a>
</li>
