{{- $pag := $.Paginator -}}
{{- if gt $pag.TotalPages 1 -}}
<ul class="pagination">
    {{ with $pag.First }}
    <li class="item">
        {{- if $pag.HasPrev }}
        <a href="{{ .URL }}" aria-label="First" title="First">
            <span aria-hidden="true">{{ partial "util/fontawesome.html" "fast-backward-solid" }}</span>
        </a>
        {{- else }}
            <span aria-hidden="true">{{ partial "util/fontawesome.html" "fast-backward-solid" }}</span>
        {{- end }}
    </li>
    {{ end }}
    <li class="item">
      {{- if $pag.HasPrev }}
      <a href="{{ $pag.Prev.URL }}" aria-label="Previous" title="Previous">
          <span aria-hidden="true">{{ partial "util/fontawesome.html" "backward-solid" }}</span>
      </a>
      {{- else }}
      <span aria-hidden="true">{{ partial "util/fontawesome.html" "backward-solid" }}</span>
      {{- end }}
    </li>
    <li class="spacer"></li>
    {{- $.Scratch.Set "__paginator.ellipsed" false -}}
    {{- range $pag.Pagers -}}
    {{- $right := sub .TotalPages .PageNumber -}}
    {{- $showNumber := or (le .PageNumber 3) (eq $right 0) -}}
    {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) -}}
    {{- if $showNumber -}}
        {{- $.Scratch.Set "__paginator.ellipsed" false -}}
        {{- $.Scratch.Set "__paginator.shouldEllipse" false -}}
    {{- else -}}
        {{- $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) -}}
        {{- $.Scratch.Set "__paginator.ellipsed" true -}}
    {{- end -}}
    {{- if $showNumber }}
    <li class="item">
        {{- if ne . $pag -}}
        <a href="{{ .URL }}" title="Page {{ .PageNumber }} of {{ .TotalPages }}">{{ .PageNumber }}</a>
        {{- else }}
        <span class="active">{{ .PageNumber }}</span>
        {{- end }}
    </li>
    {{- else if ($.Scratch.Get "__paginator.shouldEllipse") }}
    <li class="item"><span aria-hidden="true">&nbsp;&hellip;&nbsp;</span></li>
    {{- end -}}
    {{- end }}
    <li class="spacer"></li>
    <li class="item">
        {{- if $pag.HasNext }}
        <a href="{{ $pag.Next.URL }}" aria-label="Next" title="Next">
            <span aria-hidden="true">{{ partial "util/fontawesome.html" "forward-solid" }}</span>
        </a>
        {{- else }}
        <span aria-hidden="true">{{ partial "util/fontawesome.html" "forward-solid" }}</span>
        {{- end }}
    </li>
    {{ with $pag.Last }}
    <li class="item">
        {{- if $pag.HasNext }}
        <a href="{{ .URL }}" aria-label="Last" title="Last">
            <span aria-hidden="true">{{ partial "util/fontawesome.html" "fast-forward-solid" }}</span>
        </a>
        {{- else }}
        <span aria-hidden="true">{{ partial "util/fontawesome.html" "fast-forward-solid" }}</span>
        {{- end }}
    </li>
    {{ end }}
</ul>
{{ end }}
