{{- if .Site.Params.post_navigation }}
{{- if or (.PrevInSection) (.NextInSection) }}
<nav class="post-nav">
	<div class="post-nav-prev">
	{{- if .PrevInSection }}
		<a href="{{ .PrevInSection.RelPermalink }}" rel="prev">
            <i class="fas fa-backward"></i>
			<span class="post-nav-title">"{{ .PrevInSection.Title | truncate 30 }}"</span>
		</a>
    {{- else }}
        <i class="fas fa-backward"></i>
	{{- end }}
	</div>
	<div class="post-nav-next">
	{{- if .NextInSection }}
		<a href="{{ .NextInSection.RelPermalink }}" rel="next">
			<span class="post-nav-title">"{{ .NextInSection.Title | truncate 30 }}"</span>
            <i class="fas fa-forward"></i>
		</a>
    {{- else }}
        <i class="fas fa-forward"></i>
	{{- end }}
	</div>
</nav>
{{- end }}
{{- end }}
