{{- define "title" -}}
{{ .Site.Params.Ample.Pages.Home.Title | default "Home" }} | {{ .Site.Title }}
{{- end -}}

{{ define "body" }}
{{- $entry_text := .Site.Params.Ample.Pages.Home.Text | default "Enter" -}}
{{- $link := .Site.Params.Ample.Pages.Home.Link | default "posts" -}}
<div class="splash">
    <div class="site-content">
        <main class="splash-main">
            <a class="branding" href="/{{ lower $link }}" title="Go to {{ title $link }}">
                {{ partial "util/logo.html" . | chomp }}
                <h1 class="entry-text">{{ $entry_text }}</h1>
            </a>
        </main>

        <footer class="site-footer">
            {{ partial "nav/footbar.html" . | chomp }} 
        </footer>
    </div>
</div>
{{ end }}
