{{- define "title" -}}
{{ .Title }}
{{- end -}}

{{ define "body" }}
<div class="splash">
    <div class="site-content">
        <main class="splash-main">
            <a class="branding" href="/posts" title="Enter">
                {{ partial "util/logo.html" . | chomp }}
                <span class="enter">Enter</span>
            </a>
        </main>

        <footer class="site-footer">
            {{- partial "social.html" . | chomp }} 
            {{- with .Site.Params.footer -}}
            <p class="copyright">{{ . | markdownify }}</p>
            {{- end }}
        </footer>

    </div>
</div>
{{ end }}
